
.comfortaa{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.emblema-one-regular {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #d6a3ae !important;
    font-family: "Comfortaa", sans-serif; /* default font */
    color: #F2E0C7;
}

section{
    margin: 4%;
    margin-top: 0;
}


h1{ /* this is for page titles */
    font-family: "Emblema One", system-ui;
    font-size: 50px;
    color: #F2E0C7 !important;
    text-align: center;
    text-transform: capitalize !important;
}


h2{/* this is for subheadings */
    font-family: "Emblema One", system-ui;
    font-size: 24px;
    color: #F2E0C7;
    text-align: center;
}


h3{ /* movie titles */
    font-family: "Emblema One", system-ui;
    font-size: 35px;
    color: #F2E0C7;
    text-align: center;
    display: inline;
    background-color: #303030;

    margin: 0;
    margin-top: 9px;
    bottom: 10px;
    padding: 7px;
}

.movie-title{/* MAKE TITLES INLINE WITH THE BUTTON HALVES */
    position: absolute;
    display: inline-flex;
    align-items: center;
}

.movieTitle{
    display: inline-flex;
    align-items: center;
}

button{
 border-color: transparent;
 background-color: transparent;
 border: none !important;
}

h4{
    font-size: 14px;
    font-family: "Comfortaa", sans-serif;
    color: #F2E0C7;
}

.pageTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
      

.navbar-toggle{
    border: none;
    padding: 0;
    border: 0;
}

.navbar-toggle img{
    height: 89px;
    border-radius: 15px;
}

.navbar-profile{
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    color: #F2E0C7;
    background-color: #303030;
    padding: 2%;
    padding-right: 5%;
    border-radius: 15px;
    height: 89px;

    display: flex;
    align-items: center;
}

.navbar-header{
    background-color: #303030;
    margin: 0;
    padding-top: 5%;
    color: #F2E0C7;
    text-transform: capitalize;
}

.navbar-header img{
    height: 89px;
}

.offcanvas-body{
    background-color: #303030;
}

input[type="search"],
input[type="search"]:focus {
    border-radius: 15px;
    background-color: #F2E0C7;
    width: 300px;

    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    color: #303030;

    outline: none;
    border: none;
    box-shadow: none;
}


/* DO NOT TOUCH THIS PLEASE, THIS IS FOR THE STAR TO APEAR WHEN YOU HOVER ON NAV, PLEASE NO TOUCHY TOUCHY */

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px !important;
    padding: 0;
}
  
.navbar-nav .nav-item {
    position: relative;
    gap: 20px;
}
  
.navbar-nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
  
.navbar-nav .nav-link h2 {
    display: inline;        
    margin: 0;                  
}

.navbar-nav .nav-icon {
    height: 23px;
    opacity: 0;
    margin-right: 8px;
}
  
.navbar-nav .nav-link:hover .nav-icon {
    opacity: 1;                     
}  
  
.dropdown-menu{
    background-color: transparent;
    border: none;
    min-width: unset;
    width: auto;
}

/* this is for the carousel on the home page */
 
.movieFeature{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.movie-feature{
    position: relative;
    border-radius: 15px;
}

.feature-item{
    width: 100%;
    border-radius: 15px;
}
@media (min-width: 992px) {
    .feature-item{
    width: 1196px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .feature-item{
        width: 850px;
    }
}

.feature-img img{
    border-radius: 15px;
    width: 100%;
    height: 439px;
}

.feature-title{
    bottom: 30px;
    left: 16px;
}

.carousel-button{
    height: 32px;
    top: 50%;
}

/* CSS FOR BOOKMARK ICON */
.watchlistIconFeature{
    position: absolute;
    top: 35px;
    right: 15px;
    height: 57px;
}

.watchlistIcon{
    height: 57px;
    position: absolute;
}

.watchlistIcon img{
    height: 57px;
}

.movieCard {
    position: absolute;
    display: flex;
    align-items: stretch;
    border-radius: 15px;
    cursor: pointer;
    background-color: #9F9F9F;
    overflow: hidden; /* keep it */
    width: 200px;
}

.movieInfo {
    position: absolute; /* absolute inside card */
    top: 0;
    left: 200px; /* start just outside poster */
    width: 400px;
    height: 100%;
    color: #F2E0C7;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(100%);
    z-index: 3;
    opacity: 0;
}

.movieCard:hover .movieInfo {
    transform: translateX(0);
    opacity: 1;
}


.movieCard-container{
    gap: 1px;
}

.moviePoster img{
    border-radius: 15px;
    object-fit: cover;
    display: block;
}

  .movieCard:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  }
  
  /* poster stays fixed */
  .moviePoster {
    flex: 0 0 200px; 
  }
  .moviePoster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    display: block;
  }
  

  
  
@media (min-width: 992px) {
    .movieCard{
        height: 326px;
        width: 222px;
    }

    .moviePoster img{
        height: 326px;
        width: 222px;
    }
    
    .watchlistIcon{
    left: 155px;
    top: 10px;
    }
}



@media (min-width: 768px) and (max-width: 991.98px){

    .movieCard{
        height: 236px;
        width: 160px;
    }

    .moviePoster img{
        height: 236px;
        width: 160px;

    }

    .watchlistIcon{
    left: 93px;
    top: 10px;
    }
}

/* THIS IS FOR THE INDIVIDUAL MOVIE PAGE */
.movie-container{
    margin-top: 3em;
    margin-bottom: 3em;
}

.poster-container{
    display: flex;
    flex-direction: column;
    align-items: center; /* centers horizontally */
    justify-content: center;
}

.movie-poster{
    width: 346px;
    height: 492px;
    border-radius: 15px;
    background-color: #9F9F9F;
}

.individual-watchlistIcon{
    height: 66px;
    position: absolute;
}

.watchButton{
    margin-top: 2rem;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailerButton{
    height: 66px;
}

.movie-info{
    gap: 1em;
    size: 100%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.category{
    padding: 10px;
    padding-left: 2em !important;
    padding-right: 2em !important;
    background-color: #303030;
    border-radius: 50px;
}

.movie-description{
    padding: 1em;
    margin-left: 1%;
    border-radius: 15px;
    background-color: #303030;
}

.movie-description h2{
    text-align: start;
}

.movie-actors{
    padding: 1em;
    margin-left: 1%;
    margin-top: 3%;
    border-radius: 60px;
    background-color: #303030;
}

.movie-actors h2{
    margin-right: 5%;
    margin-bottom: 0;
}

.actor{
    margin-bottom: 0 !important;
    align-content: center;
    
}

.trailerButton{
    margin-top: 1em;
}




/* // No media query necessary for xs breakpoint as it’s effectively `@media (min-width: 0) { ... }`
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }

// Usage

// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */